<div id="body" class="image" style="background-image: url('../../assets/apple.jpg')" >

    <div id="boxes" class="boxes">

    <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Enter the Abbreviation </mat-label>
    <input matInput type="text" [(ngModel)]="price">
    <button *ngIf="price" matSuffix mat-icon-button aria-label="Clear" (click)="price=''">
    </button>
  </mat-form-field>
    </div>

<h5>Information about currency:</h5>
<div *ngIf="cost"> For the currency {{cost.symbol}}:</div>
<div *ngIf="cost">The previous close price was ${{cost.prevClosePrice}}</div>
<div *ngIf="cost">The previous quarter price was ${{cost.lastQty}}</div>
 
<button type = "submit" (click)= "onSubmit()" > Submit </button>

<form (ngSubmit)="submit()" >
    <div *ngIf="step === 1">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Enter First Name </mat-label>
            <input matInput type="text" [(ngModel)]="name">
            
        </mat-form-field>
  
        <br>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Enter Last Name </mat-label>
            <input matInput type="text" [(ngModel)]="last">
            <button *ngIf="last" matSuffix mat-icon-button aria-label="Clear" (click)="last=''">
            </button>
          </mat-form-field>
        </div>

    <div *ngIf="step === 2">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Enter Street </mat-label>
            <input matInput type="text" [(ngModel)]="street">
            <button *ngIf="street" matSuffix mat-icon-button aria-label="Clear" (click)="street=''">
            </button>
        </mat-form-field>
          <br>
            <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Enter City </mat-label>
            <input matInput type="text" [(ngModel)]="city">
            <button *ngIf="city" matSuffix mat-icon-button aria-label="Clear" (click)="city=''">
            </button>
        </mat-form-field>
    </div>

        <div *ngIf="step === 3">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Enter Age </mat-label>
                <input matInput type="text" [(ngModel)]="age">
                
               
            </mat-form-field>
              <br>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Enter Height </mat-label>
                <input matInput type="text" [(ngModel)]="height">
                <button *ngIf="height" matSuffix mat-icon-button aria-label="Clear" (click)="height=''">
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="step === 4">
            <div>
                <p> your age is: {{this.age}} </p>
            </div>
        </div>

    <button type = "submit"  *ngIf = "step !=4" > Next </button>
    <button type = "submit"  *ngIf="step ==2" (click)= "pervious()" > Previous Feild </button>
    <button type = "submit"  *ngIf="step ==3" (click)= "pervious2()" > Previous Feild </button>
    <button type = "submit"  *ngIf="step ==3" (click)="final()">  Form </button>
   <router-outlet></router-outlet>
   
</form>

<header class="l-header v-center-parent">
<nav>
    <li><a  routerLink="/step1" >step1</a></li>
</nav>
    <router-outlet></router-outlet>



